.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.chuckButton {
padding:0.5em 1.2em;
border:0.1em solid orange;
margin:0 0.3em 0.3em 0;
border-radius:0.12em;
box-sizing: border-box;
text-decoration:none;
font-family:'Roboto',sans-serif;
font-weight:300;
color:orange;
text-align:center;
transition: all 0.2s;
}
.chuckButton:hover{
color:#000000;
background-color:orange;
}